.form-group {
display: flex;
align-items: center;
margin-top: 10px;
  }
  
  .label {
    margin-right: 10px; 
    margin-bottom: 17px; 
    font-size: 1.5rem;
  }
  
  .custom-textfield {
    width: 100%; 
    margin-bottom: 15px;
  }
  
  .custom-textfield input::placeholder {
    color: #534040; 
    font-size: .9em; 
  }
  
  .custom-textfield input { 
    padding: 8px;
  border-radius: 20%;
  width: 350px; 
  }