@tailwind base;
@tailwind components;
@tailwind utilities;

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800 */

/* .assistant-body {
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
} */