/* Styles.css */

/* Styles for Cargo Connect heading */
.Cargo {
  position: absolute;
  margin-top : 30px;
  left: 20px; /* Adjust the left position as needed */
  transform: translateY(-50%);
  font-size: 5rem; /* Adjust the font size as needed */
 
}

.roboto-regular{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Styles for Roboto font div */
.roboto-div {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Styles for Streamlining Your Logistics heading */
.Stree {
  position: absolute;
  margin-top : 60px;
  left: 23px; /* Adjust the left position as needed */
  font-size: 2.5rem; /* Adjust the font size as needed */
 
} 

/* Additional styles */
.button-container {
  position: absolute;
  bottom: 20px; /* Adjust the bottom position as needed */
  left: 20px; /* Adjust the left position as needed */
}

.login-button,
.signup-button {
  margin-right: 10px; /* Adjust the margin between buttons as needed */
}
