 .card {
    font-family: 'Assistant', Arial, sans-serif; /* Use Assistant font for the card */
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    padding: 20px;
    margin: 10px auto; /* Set auto margin to center horizontally */
    max-width: 600px; /* Increase the max-width as needed */
    display: flex;
    flex-direction: column; /* Change to column layout */
    background: #c5c6c7;
  }
  
  .card .card-image {
    max-width: 60%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  
  .card .card-title,
  .card .card-text,
  .card .shipping-dates,
  .card .location-points,
  .card .truck-details {
    font-family: 'Assistant', Arial, sans-serif; /* Use Assistant font for specific elements */
    color: hsl(0, 0%, 0%);
  }
  
  .card-row {
    font-family: 'Assistant', Arial, sans-serif; /* Use Assistant font for the card row */
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .card-row div {
    flex: 1;
  }
  
  .btn {
    position: relative;
    display: flex;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  .btn::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -1px;
    bottom: -5px;
    border-radius: 0.25rem;
    transition: border-color 0.3s ease-in-out;
  }
  
  .btn:hover {
    border-color: rgb(175, 175, 199);
  }
  
  .btn:hover::before {
    border-color: rgb(226, 226, 226);
  }
  